---
import { getCollection, render } from 'astro:content';
import NoteHeader from '../../components/NoteHeader.astro';
import NoteLocalMap from '../../components/NoteLocalMap.astro';
import Layout from '../../layouts/Layout.astro';
import NoteOutline from '../../components/NoteOutline.astro';

export const getStaticPaths = async () => {
  const notes = await getCollection('notes');

  return notes.map(note => ({
    params: { id: note.id },
    props: { note },
  }));
};

const {
  note,
  note: { data },
} = Astro.props;
const { title, tags, created, modified } = data;
const noteType =
  tags.find(tag => tag.includes('type'))?.split('/')[1] ?? 'none';
const { Content, headings } = await render(note);
---

<Layout>
  <!-- Sólo necesitamos el contenido de la nota para calcular el mapa local -->
  <NoteLocalMap slot="noteLocalMap" noteTitle={title} noteContent={note.body} />
  <main class="grid gap-4 h-full w-full">
    <article class="h-full flex flex-col border-4">
      <NoteHeader headerInfo={{ tags, created, modified, title, noteType }} />
      <section class="flex flex-col gap-4 p-4 w-full">
        <div class="w-full">
          <Content />
        </div>
      </section>
    </article>
  </main>
  <NoteOutline slot="noteOutline" headings={headings} />
</Layout>
