@import 'tailwindcss';
/*@plugin '@tailwindcss/typography';*/

@import 'rehype-callouts/theme/github';

@font-face {
  @apply font-[cozette] font-normal;
  src: url("/fonts/CozetteVector.woff2") format("woff2");
}

@theme {
 --font-sans: "cozette", 'sans-serif';
 --pico-color-1: #000000;
 --pico-color-2: #1D2B53;
 --pico-color-3: #7E2553;
 --pico-color-4: #008751;
 --pico-color-5: #AB5236;
 --pico-color-6: #5F574F;
 --pico-color-7: #C2C3C7;
 --pico-color-8: #FFF1E8;
 --pico-color-9: #FF004D;
 --pico-color-10: #FFA300;
 --pico-color-11: #FFEC27;
 --pico-color-12: #00E436;
 --pico-color-13: #29ADFF;
 --pico-color-14: #83769C;
 --pico-color-15: #FF77A8;
 --pico-color-16: #FFCCAA;
}


@layer base {
  html, body { @apply m-0 h-screen w-screen tracking-wide; }

  #content {
      h2::before { content: "[01]"; @apply mx-2; }
      h2 { @apply text-xl font-bold my-3 bg-[var(--pico-color-2)]; }

      h3::before { content: "[02]"; @apply ml-6 mr-2; }
      h3 { @apply text-xl font-bold my-3 bg-[var(--pico-color-3)]; }

      h4::before { content: "[03]"; @apply ml-10 mr-2; }
      h4 { @apply text-xl font-bold my-3 bg-[var(--pico-color-14)]; }

      h5::before { content: "[04]"; @apply ml-14 mr-2; }
      h5 { @apply text-xl font-bold my-3 bg-[var(--pico-color-13)]; }

      h6::before { content: "[05]"; @apply ml-18 mr-2; }
      h6 { @apply text-xl font-bold my-3 bg-[var(--pico-color-15)]; }
  }
  code { @apply font-[cozette]; }
    
  li { @apply list-disc mx-4 my-2; }
  
  li li { @apply list-[circle]; }
  
  li li li { @apply list-[square]; }
  
  ol li { @apply list-decimal; }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .overflow-y-auto::-webkit-scrollbar { @apply w-3 bg-[var(--pico-color-8)]; }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-[var(--pico-color-7)];
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  code { @apply font-[cozette]; }
}




.astro-code {
  border-radius: 0.625rem;
  padding: 0.5rem;
}

