@import 'tailwindcss';
@import 'rehype-callouts/theme/github';
/*@plugin '@tailwindcss/typography';*/

@font-face {
  font-family: 'cozette';
  src: url('/fonts/CozetteVector.woff2') format('woff2');
  font-display: swap;
}

@theme {
  --font-sans: 'cozette', ui-sans-serif, system-ui, sans-serif;
  --pico-color-1: #000000;
  --pico-color-2: #1d2b53;
  --pico-color-3: #7e2553;
  --pico-color-4: #008751;
  --pico-color-5: #ab5236;
  --pico-color-6: #5f574f;
  --pico-color-7: #c2c3c7;
  --pico-color-8: #fff1e8;
  --pico-color-9: #ff004d;
  --pico-color-10: #ffa300;
  --pico-color-11: #ffec27;
  --pico-color-12: #00e436;
  --pico-color-13: #29adff;
  --pico-color-14: #83769c;
  --pico-color-15: #ff77a8;
  --pico-color-16: #ffccaa;
  --pixel-sprout: url('/spritesheet.png') no-repeat;
}

@layer base {
  *,
  ::after,
  ::before {
    @apply box-border m-0 p-0;
  }

  :is(html, body) {
    @apply h-screen w-screen bg-[var(--pico-color-1)] text-[var(--pico-color-8)];
  }

  body {
    @apply px-4 pt-6 gap-4 grid grid-rows-[1fr] grid-cols-[1.5fr_4fr_1.5fr] text-base/7 tracking-widest;
  }

  @media screen and (width < 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    body {
      @apply relative;

      &::before {
        content: 'Esta página aún no está adaptada para dispositivos móviles. Por favor, visualízala desde un entorno de escritorio.';
        @apply p-4 inline-flex text-balance items-center text-center justify-center absolute w-full h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-xl z-50;
      }

      * {
        @apply blur-2xl pointer-events-none overflow-hidden;
      }
    }
  }

  main {
    @apply flex flex-col;
  }

  nav {
    @apply flex flex-col gap-8;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply text-xl font-bold text-balance;
  }

  article {
    @apply p-1 -mt-1.5 relative border-2 rounded-2xl border-[var(--pico-color-7)];

    & > :is(section, header) {
      @apply relative border-2 rounded-xl border-[var(--pico-color-7)];
    }
  }

  code {
    @apply font-[cozette];
  }

  li {
    @apply list-disc mx-4;

    li {
      @apply list-[circle];

      li {
        @apply list-[square];
      }
    }
  }

  ol li {
    @apply list-decimal;
  }

  .overflow-y-auto {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar {
      @apply w-3 bg-[var(--pico-color-8)];
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-lg bg-[var(--pico-color-7)];
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
}

@layer components {
  [data-note='evergreen']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -0px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -0px -0px;
    background-color: var(--pico-color-4);
  }

  [data-note='sapling']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -16px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -16px -0px;
    background-color: var(--pico-color-4);
  }

  [data-note='sprout']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -32px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -32px -0px;
    background-color: var(--pico-color-4);
  }

  [data-note='signpost']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -48px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -48px -0px;
    background-color: var(--pico-color-5);
  }

  [data-note='source']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -64px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -64px -0px;
    background-color: var(--pico-color-5);
  }

  [data-note='fruit']::after {
    @apply content-[''] inline-block w-4 h-4 scale-175 mx-1;

    mask: url('/spritesheet.png') no-repeat;
    mask-position: -80px -0px;
    -webkit-mask: url('/spritesheet.png') no-repeat;
    -webkit-mask-position: -80px -0px;
    background-color: var(--pico-color-9);
  }

  [data-callout='spoiler'] {
    & > .callout-content {
      @apply blur-sm transition-all duration-1000;
    }

    &[open] > .callout-content {
      @apply blur-none;
    }
  }

  [data-callout='note'] {
    --rc-color-light: var(--pico-color-13) !important;
    --rc-color-dark: var(--pico-color-13) !important;
    & .callout-title-text::before {
      @apply content-[''] inline-block w-4 h-4 mr-2.5 scale-120 align-middle;

      /* CSS personalizado para mask */
      mask: url('/spritesheet.png') no-repeat;
      mask-position: -16px -16px;
      -webkit-mask: url('/spritesheet.png') no-repeat;
      -webkit-mask-position: -16px -16px;
      background-color: var(--pico-color-13);
    }
  }

  [data-callout='tip'] {
    --rc-color-light: var(--pico-color-12) !important;
    --rc-color-dark: var(--pico-color-12) !important;
    & .callout-title-text::before {
      @apply content-[''] inline-block w-4 h-4 mr-2.5 scale-120 align-middle;

      /* CSS personalizado para mask */
      mask: url('/spritesheet.png') no-repeat;
      mask-position: -64px -16px;
      -webkit-mask: url('/spritesheet.png') no-repeat;
      -webkit-mask-position: -64px -16px;
      background-color: var(--pico-color-12);
    }
  }

  [data-callout='important'] {
    --rc-color-light: var(--pico-color-15) !important;
    --rc-color-dark: var(--pico-color-15) !important;
    & .callout-title-text::before {
      @apply content-[''] inline-block w-4 h-4 mr-2.5 scale-120 align-middle;

      /* CSS personalizado para mask */
      mask: url('/spritesheet.png') no-repeat;
      mask-position: 0px -16px;
      -webkit-mask: url('/spritesheet.png') no-repeat;
      -webkit-mask-position: 0px -16px;
      background-color: var(--pico-color-15);
    }
  }

  [data-callout='warning'] {
    --rc-color-light: var(--pico-color-11) !important;
    --rc-color-dark: var(--pico-color-11) !important;
    & .callout-title-text::before {
      @apply content-[''] inline-block w-4 h-4 mr-2.5 scale-120 align-middle;

      /* CSS personalizado para mask */
      mask: url('/spritesheet.png') no-repeat;
      mask-position: -32px -16px;
      -webkit-mask: url('/spritesheet.png') no-repeat;
      -webkit-mask-position: -32px -16px;
      background-color: var(--pico-color-11);
    }
  }

  [data-callout='caution'] {
    --rc-color-light: var(--pico-color-9) !important;
    --rc-color-dark: var(--pico-color-9) !important;
    & .callout-title-text::before {
      @apply content-[''] inline-block w-4 h-4 mr-2.5 scale-120 align-middle;

      /* CSS personalizado para mask */
      mask: url('/spritesheet.png') no-repeat;
      mask-position: -48px -16px;
      -webkit-mask: url('/spritesheet.png') no-repeat;
      -webkit-mask-position: -48px -16px;
      background-color: var(--pico-color-9);
    }
  }

  .personal-canon {
    @apply h-full flex flex-wrap gap-4 justify-center items-center content-center p-4;
  }

  #content {
    @apply hyphens-auto wrap-break-word gap-4 p-4 overflow-y-auto px-4 py-2 h-[calc(100vh-8.785rem)];

    & p {
      @apply text-pretty;
    }

    h2:not(#footnote-label) {
      @apply my-3 bg-[var(--pico-color-2)];

      &::before {
        @apply content-['[01]'] mx-2;
      }
    }

    h3 {
      @apply my-3 bg-[var(--pico-color-14)];

      &::before {
        @apply content-['[02]'] ml-6 mr-2;
      }
    }

    h4 {
      @apply my-3 bg-[var(--pico-color-3)];

      &::before {
        @apply content-['[03]'] ml-10 mr-2;
      }
    }

    h5 {
      @apply my-3 bg-[var(--pico-color-6)];

      &::before {
        @apply content-['[04]'] ml-14 mr-2;
      }
    }

    h6 {
      @apply my-3 bg-[var(--pico-color-6)];

      &::before {
        @apply content-['[05]'] ml-18 mr-2;
      }
    }

    .footnotes ol {
      @apply ml-4 text-[var(--pico-color-13)];
    }

    .astro-code {
      @apply p-2 my-4;
    }
  }

  .rounded-container {
    @apply p-4 border-2 rounded-lg border-[var(--pico-color-7)] outline-2 outline-offset-4 outline-[var(--pico-color-7)];
  }

  .container-title {
    @apply text-2xl font-bold absolute -top-5 left-1/2 -translate-x-1/2 bg-[var(--pico-color-1)] before:content-['['] after:content-[']'];

    &::before {
      @apply text-2xl font-bold content-['['];
    }

    &::after {
      @apply text-2xl font-bold content-[']'];
    }
  }

  .search-dialog[open] {
    @apply inset-0 z-50 grid place-items-center backdrop:bg-black/50;
  }
}
