---
import { canonLinks } from '../constants/general.constants';
---

{
  canonLinks.map(link => (
    <a
      href={link.href}
      class="flex flex-col p-4 border-2 rounded-lg hover:bg-blue-50 transition-colors w-56 h-32"
    >
      <div class="flex flex-col items-center justify-center h-full">
        <h3 class="font-bold text-center">{link.title}</h3>
        {'description' in link && link.description && (
          <p class="text-sm text-gray-600">{link.description}</p>
        )}
      </div>
    </a>
  ))
}
