---

---

<div class="flex flex-col gap-2 items-center p-4 border-4">
  <h2 class="text-2xl font-bold">MENU</h2>
  <a href="/" class="w-full bg-blue-200 text-left p-2">🏡 VOLVER AL INICIO</a>
  <div class="w-full relative">
    <div class="w-full bg-blue-200 text-left p-2">🎲 PERDERSE EN EL BOSQUE</div>
    <div class="absolute inset-0"><slot /></div>
  </div>
  <a href="/tag/evergreen" class="w-full bg-blue-200 text-left p-2">
    🌲 ÁRBOLES DE CONOCIMIENTO
  </a>
  <a href="/tag/fruit" class="w-full bg-blue-200 text-left p-2">🍎 FRUTOS</a>
  <a href="/tag/signpost" class="w-full bg-blue-200 text-left p-2">
    🪧 POSTES DE DIRECCIÓN
  </a>
  <a href="/tag/source" class="w-full bg-blue-200 text-left p-2">
    💧 FUENTES DE SABIDURÍA
  </a>
</div>
