---
import LastTended from './LastTended.jsx';
import TagList from './TagList.astro';
import { getTileType } from '../utils/general.utils';

const { headerInfo } = Astro.props;
const { title, tags, created, modified, noteType } = headerInfo;
---

<header class="flex flex-col gap-4 border-b-4 p-4">
  <h1 class="text-2xl font-bold">
    {title.toUpperCase()}
  </h1>
  <div class="space-y-2">
    {tags && <TagList tags={tags} />}
    <small>
      Esta {getTileType(noteType) ?? '❔'}
      {
        created && modified && (
          <LastTended client:load created={created} modified={modified} />
        )
      }
    </small>
  </div>
</header>
