---
const { tags } = Astro.props;
---
<div class="flex flex-row gap-2">
    {
        tags.map((tag: string) => (
            <a href=`/tag/${tag}` class="bg-blue-200 p-2 rounded-md">{tag}</a>
        ))
    }
</div>